<div class="container">
    <div class="vh-100 w-100 d-flex align-items-center justify-content-center">
        <div class="card w-50">
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Логин</label>
                        <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Введите логин</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Введите пароль</div>
                        </div>
                    </div>
                    <ng-container *ngIf="!user">
                        <button [disabled]="loading" type="submit" class="btn btn-primary w-100">Отправить</button>
                    </ng-container>
                    <ng-container *ngIf="user">
                        <button class="btn btn-primary w-100" (click)="logout()">Выйти</button>
                    </ng-container>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <div *ngIf="blockTime && secondsToUnlock > 0" class="alert alert-danger mt-3 mb-0">
                        Следующая попытка авторизации возможна через 00:<span *ngIf="secondsToUnlock < 10">0</span>{{secondsToUnlock}}
                    </div>
                    <div *ngIf="user" class="alert alert-success mt-3 mb-0">
                        <p>{{user.firstName}} {{user.lastName}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>